img {
    width: 400px;
    margin-top: 100px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

input{
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 24px;
    margin-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.ppp{
    display: flex;
    justify-content:center;
}

button{
    margin-left: 4px;
    margin-right: 4px;
    padding: 8px 16px 8px 16px;
    font-size:14px;
    border:none;
    border-radius:12px;


}